*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.task-text-heading{
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}