*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task-item{
  background-color: #fefae0;
  width: 30vw;
  padding: .5rem 0;
  margin: auto;
  margin-top: 1rem;
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 0;
}
.task-text{
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

button{
  padding: 0 1rem;
}

.strike {
  text-decoration: line-through;
}

.task-text-heading{
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.box{
  margin: auto;
  text-align: center;
}
.popup-Box{
  height: 60vh;
  width: 60vw;
  position: absolute;
  z-index: 5;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.popup-Box .X-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}